# docker/backend/requirements.txt

anthropic[bedrock]
fastapi
fitz
instructor
langfuse
networkx
openai
plotly
pymongo
PyMuPDF
python-docx
python-magic
python-multipart
redis
requests
rq
rq-dashboard
streamlit
uvicorn

